In [54]:
import pandas as pd
import re
import numpy as np

In [14]:
path = 'sample/GL full - Brotex VN (002).xlsx'
df = pd.read_excel(path, sheet_name=1, header = None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,NaN,NaN,NaN,NaN,NaN,6417,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-346183893539.440918,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4645155621009.834961,4719673612246.194336,4373489718706.753418,4447188096022.633789,NaN,NaN,NaN,NaN,NaN
2,Năm,Năm,Số tài liệu,Số bút toán,Trích yếu,Mã tài khoản,Tên tài khoản,Mục phụ trợ,Loại tiền,Bên vay,Bên vay,Bên nợ,Bên nợ,Thông tin báo phí,Thông tin quyết toán,EY clasification,EY Treatment,EY Note
3,Tháng,Ngày,Số tài liệu,Số bút toán,Trích yếu,Mã tài khoản,Tên tài khoản,Mục phụ trợ,Loại tiền,Tiền tệ gốc,Nội tệ,Tiền tệ gốc,Nội tệ,Thông tin báo phí,Thông tin quyết toán,NaN,NaN,NaN
4,1,1,BD-0001,1,Phí Ipay 01.2021,64281,64281\管理费用Chi phí quản lý doanh nghiệp\其他费用Chi...,【部门：Bộ phận tài chính财务部】,越南盾,27500,27500,NaN,NaN,NaN,NaN,Bank charges,Deductive,Sample

In [64]:
note = pd.read_excel(path, sheet_name=2, header = None)
key_words = list(note[1].str.lower())
key_words

['lương',
 'thưởng',
 'tháng 13',
 'tăng ca',
 'lãi vay',
 'ngân hàng',
 'chi phí nhân công',
 'chi phí thuê ngoài',
 'văn phòng phẩm',
 'bảo hiểm xã hội',
 'tiền điện',
 'tiền nước',
 'rác thải',
 'thuế',
 'phạt',
 'chi phí khấu hao',
 'chi phí phân bổ',
 'cước vận chuyển',
 'phí chuyển phát',
 'phụ cấp',
 'kết chuyển',
 'nguyên vật liệu']

In [49]:
header = list(df.iloc[3].dropna()) + ['EY clasification', 'EY_Treatment']
df1= df.iloc[4:, :-1]
df1.columns = header
df_des = df1[['Trích yếu', 'Mã tài khoản','EY clasification', 'EY_Treatment' ]]
df_des.columns = ['description', 'id', 'EY_classification', 'EY_Treatment']
df_des

,description,id,EY_classification,EY_Treatment
4,Phí Ipay 01.2021,64281,Bank charges,Deductive
5,Phí Ipay 01.2021,1121,NaN,NaN
6,Tích lũy chi phí thưởng 计提奖金1,6421101,Accrual bonus,To be check
7,"CNSZ20200111(TK103698488240,TKBS730244050650-0...",51122,NaN,NaN
8,"MU/HST-S201682,732,736(TK303686811760-29/12/20...",13122,NaN,NaN
...,...,...,...,...
61100,"Mua và lưu trữ vật liệu (BV2110-21,M2122008)",3311202,NaN,NaN
61101,"Mua và lưu trữ vật liệu (BV2110-208,M2122003)",1521,NaN,NaN
61102,"Mua và lưu trữ vật liệu (BV2110-208,M2122003)",3311202,NaN,NaN
61103,"Mua và lưu trữ vật liệu (BV2007-51,M2021301)",1521,NaN,NaN
61104,"Mua và lưu trữ vật liệu (BV2007-51,M2021301)",3311202,NaN,NaN

In [51]:
def no_accent_vietnamese(s):
    s = re.sub(r'[àáạảãâầấậẩẫăằắặẳẵÀÁẠẢÃĂẰẮẶẲẴÂẦẤẬẨẪ]', 'a', s)
    s = re.sub(r'[èéẹẻẽêềếệểễÈÉẸẺẼÊỀẾỆỂỄ]', 'e', s)
    s = re.sub(r'[òóọỏõôồốộổỗơờớợởỡÒÓỌỎÕÔỒỐỘỔỖƠỜỚỢỞỠ]', 'o', s)
    s = re.sub(r'[ìíịỉĩÌÍỊỈĨ]', 'i', s)
    s = re.sub(r'[ùúụủũưừứựửữƯỪỨỰỬỮÙÚỤỦŨ]', 'u', s)
    s = re.sub(r'[ỳýỵỷỹỲÝỴỶỸ]', 'y', s)
    s = re.sub(r'[đĐ]', 'd', s)
    return s
df_des['description'] = df_des['description'].str.lower()
df_des['description_no_accent'] = df_des['description'].apply(no_accent_vietnamese).str.lower()
df_des.head()

C:\Users\Admin\AppData\Local\Temp\ipykernel_14128\980247685.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_des['description'] = df_des['description'].str.lower()
C:\Users\Admin\AppData\Local\Temp\ipykernel_14128\980247685.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_des['description_no_accent'] = df_des['description'].apply(no_accent_vietnamese).str.lower()

,description,id,EY_classification,EY_Treatment,description_no_accent
4,phí ipay 01.2021,64281,Bank charges,Deductive,phi ipay 01.2021
5,phí ipay 01.2021,1121,NaN,NaN,phi ipay 01.2021
6,tích lũy chi phí thưởng 计提奖金1,6421101,Accrual bonus,To be check,tich luy chi phi thuong 计提奖金1
7,"cnsz20200111(tk103698488240,tkbs730244050650-0...",51122,NaN,NaN,"cnsz20200111(tk103698488240,tkbs730244050650-0..."
8,"mu/hst-s201682,732,736(tk303686811760-29/12/20...",13122,NaN,NaN,"mu/hst-s201682,732,736(tk303686811760-29/12/20..."

In [89]:
def retun_keyword(column, key_words):
    for i in key_words:
        if i in column:
            return i
    return np.nan


df_des1 = df_des.copy()
df_des1['return_words'] = df_des1['description'].apply(retun_keyword, key_words=key_words)
df_des1.head()
# df_des1[df_des1['return_words'].notna()].head(100)

,description,id,EY_classification,EY_Treatment,description_no_accent,return_words
4,phí ipay 01.2021,64281,Bank charges,Deductive,phi ipay 01.2021,NaN
5,phí ipay 01.2021,1121,NaN,NaN,phi ipay 01.2021,NaN
6,tích lũy chi phí thưởng 计提奖金1,6421101,Accrual bonus,To be check,tich luy chi phi thuong 计提奖金1,thưởng
7,"cnsz20200111(tk103698488240,tkbs730244050650-0...",51122,NaN,NaN,"cnsz20200111(tk103698488240,tkbs730244050650-0...",NaN
8,"mu/hst-s201682,732,736(tk303686811760-29/12/20...",13122,NaN,NaN,"mu/hst-s201682,732,736(tk303686811760-29/12/20...",NaN

In [86]:
key_words

['lương',
 'thưởng',
 'tháng 13',
 'tăng ca',
 'lãi vay',
 'ngân hàng',
 'chi phí nhân công',
 'chi phí thuê ngoài',
 'văn phòng phẩm',
 'bảo hiểm xã hội',
 'tiền điện',
 'tiền nước',
 'rác thải',
 'thuế',
 'phạt',
 'chi phí khấu hao',
 'chi phí phân bổ',
 'cước vận chuyển',
 'phí chuyển phát',
 'phụ cấp',
 'kết chuyển',
 'nguyên vật liệu']